@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
}

html {
    font-family:'Poppins', sans-serif;
}

.navbar {
    position: absolute;
    width: 100vw;
    top: 0;
    height: 2.5rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

}

.page-title{
    color:rgb(51, 51, 217) ;
}

.page-title, .page-definition {
    font-weight: 300;
    font-size: 1.2rem;
}

.color {
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

.color-container {
    text-align: center;
}

button {
    margin-top: 1rem;
    font-weight: 500;
    font-family: inherit;
    border: 2px black solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.nav-links {
    letter-spacing: inherit;
    display: flex;
    list-style-type: none;
}

.link {
    letter-spacing: inherit;
    margin-right: 1rem;
    transition: color 0.5s ease ;
}

.link:hover {
    color: rgb(180, 0, 0);
}

.content {
    margin-top: 2.5rem;
    height:calc(100vh - 2.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
